#chat {
  overflow-y:scroll;
  border: thin solid black;
  height:250px;
  width:100%;
}

html{
   background-color: #222222;
}

.pages{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #222222;
}

#title{
  margin-top: 0px;
  font-size: 28px;
  vertical-align: middle;
}

#title_block{
  width:100%;
  height:70px;
  margin-bottom: 1px;
}

#image_block{
  width: 100%;
  height: 300px;
}

.page{
  display:none;
  list-style-type: none;
}

.my_block{
  color: #FFFFFF;
  border-radius: 25px;
  margin: 5%;
  background-color: #464545;
  padding: 30px;
  width: auto;
  height: auto;
  min-height: 400px;
  min-width: 250px;
  max-width: 300px;
  border-bottom: 2px solid #333333 !important;
  -moz-box-shadow:inset 0 2px 0 rgba(100,100,100,0.5);
  -webkit-box-shadow:inset  0 2px 0 rgba(100,100,100,0.5);
  box-shadow:inset  0 2px 0 rgba(100,100,100,0.5);
}


.my_btn{
  color: #FFFFFF;
  background-color: #00bc8c;
  border-bottom: 1px solid #007053 !important;
  -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
  -webkit-box-shadow:inset  0 1px 0 rgba(255,255,255,0.5);
  box-shadow:inset  0 1px 0 rgba(255,255,255,0.5);  
}

.my_btn:hover{
  color: #FFFFFF !important;
  background-color: #00dba3;
}

.my_btn:active, .my_btn:focus{
  color: #FFFFFF !important;
  background-color: #007053;
}

.first_page{
  list-style-type: none;
}

#room_page_username{
  color: #FFFFFF;
}
#room_message1{
  display:none;
  color: #FFFFFF;
}
#room_message2{
  display:none;
  color: #FFFFFF;
}

#user_settings{
  display:none; 
}

.non_sign_up_settings{
  display:none;
}

.init_hidden{
  display:none;
}

.message{
  color: #FFFFFF;
}

#userblock{
  background-color: #606060;
  /*border-style: solid;
  border-color: #FFFFFF; */
  border-radius:10px;
  padding: 2.5%;
}

.genres{
  background-color: #606060;
  color: #FFFFFF;
  border-radius:10px;
  padding: 2.5%;
}

/*#users{
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}*/

.overlay {
 position:absolute;
 top:0%;
 left:0%;
 width:100%;
 height:100%;
 background:black;
 z-index:1001;
 opacity:0.5;
 display:none; 
}

.overlay_message {
 border-radius: 25px;
 position:absolute;
 top:50%;
 left:50%;
 background-color:#464545;
 z-index:1002;
 overflow:auto;
 width:400px;
 height:200px;
 margin-left:-200px;
 margin-top:-100px;
 display: none; 
}

.overlay_message_text {
  color: #FFFFFF;
  margin: 0;
  font-size:200%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.spinner {
  margin: 30px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #606060;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


.table > tbody > tr > td{
  border-top: 0px none transparent !important;
  padding-right: 8px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 3px !important;
  line-height: 20px !important;
}


.checkbox{
  margin: 0px !important;
}

.my_checkbox input[type=checkbox]:checked + label:before{
  background-color: #00bc8c;
  border-color: #00bc8c;
}
.my_checkbox input[type=checkbox]:checked + label:after{
  color: #FFFFFF;
}


