#chat {
  overflow-y:scroll;
  border: thin solid black;
  height:250px;
  width:100%;
}
.film_page{
  display:none;
  list-style-type: none;
}
.room_page{
  display: none;
  list-style-type: none;
}
.first_page{
  list-style-type: none;
}
.sign_up_page{
  display: none;
  list-style-type: none;
}
.login_page{
  display: none;
  list-style-type: none;
}
.lobby_page{
  display: none;
  list-style-type: none;
}
.found_page{
  display: none;
  list-style-type: none;
}
.settings_page{
  display: none;
  list-style-type: none;
}
#room_page_username{
  color: #FFFFFF;
}
#room_message1{
  display:none;
  color: #FFFFFF;
}
#room_message2{
  display:none;
  color: #FFFFFF;
}
.my_block{
  border-radius: 25px;
  margin: 5%;
  background: #004747;
 /* background: #330033;*/
  /*background: #141466;*/
  padding-top: 40%;
  padding-bottom: 10%;
  padding: 2.5%;
  width: 25%;
  height: 400px;
}
